.card {
  background: white;

  padding: 25px;

  border-radius: 20px;

  min-height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.3s;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  border: 2px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 24px;
  color: #0f172a;
}

.card p {
  color: #64748b;
  line-height: 1.5;
  margin: 15px 0;
}

.destaque {
  background: #0f172a;

  border: 2px solid #2563eb;

  transform: scale(1.03);

  box-shadow: 0 0 20px rgba(37,99,235,0.3);
}

.destaque h3,
.destaque p {
  color: white;
}