.main {
  padding: 40px;
  background: #f4f7fb;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.cards-area {
  width: 60%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 25px;
}

.side-content {
  width: 40%;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.side-content h1 {
  font-size: 52px;
  color: #0f172a;
  line-height: 1.2;
}

.side-content p {
  font-size: 18px;
  color: #475569;
  line-height: 1.6;
}